/* HACER UN @media PARA CONTROLAR LOS PIXELES EN CELULAR Y ASI BAJAR LA LETRA */
body{
  background-color: #e0f6f6;
}
.buttonSeccion
{
  width: 150px;
  background-color: #5aa123;
  
}

/* PARA QUE DESAPARECER LOS BOTONES DE SUBIR Y BAJAR EN EL INPUT DNI */
input[type="number"] {
-moz-appearance: textfield;

}
/* ESPACIADO DENTRO DEL FORMULARIO */
.rowLogin
{
  margin: 10%;
}
.login
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green; 
  background-color: #fdfdfdf5;
  margin-top: 10%;
  box-shadow: 0px 2px 10px rgb(136, 136, 136);
  width: 400px;
  height: 380px;
  border: 1px solid rgb(119, 184, 184);
  box-sizing: border-box;
  border-radius: 20px;  
  
}

/* ADAPTABLE PARA MOVILES FORMULARIO, CENTRADO, para pantallas menores a
600 pixeles */
@media (max-width: 600px) {
  .login{
  width: 300px;
  height: 280px;
  
  }
  .rowLogin{
    justify-content: center;
    align-items: center;
   
  }
}
.btn.btn-success
{
  border-radius: 12px;
}
.iniciar-seccion
{
  margin: 2%;
  text-align: center;
  color: #5aa123;
 
 
}

.header
{
  display: flex;
  align-items: center;
  font-family: 'Mukta', sans-serif;
  box-shadow: 0px 2px 10px #888;
  position:relative;
  color:rgba(51, 51, 51, 0.658) ;
  background-color:#4db6ad;
  justify-content: space-between;


  
}


.volverMenu:hover{
  background-color: rgb(209, 225, 243);
}

.cancelar{
  position:relative;
  right: 20px;
  bottom: 5px;
}

.guardar{
  position: relative;
  left: 20px;
  bottom: 5px;
}


.dropdown
{
  background-color: transparent;
  color: #e0f6f6;
  border: none;
}




/* Tabla estudiantes */

.contenedorTablaDeAlumnos
{
  display:flex;
  align-items:center;
  justify-content:space-between;
 
}

.contenedorTablaDeAlumnos > div 
{
  width: 19%;
  
}
.iconosBorrarMod
{
  display: flex;
  justify-content:center;
  
}
.containerTablaEstudiantes
{
  margin: auto;
  width: 75%;
  
}

@media (max-width: 850px) {
  .containerTablaEstudiantes
  {
    margin: auto;
    width: 100%;
    
  }

}

